.alert-success {
    background-color: green;
    color: black;
    border-color: green;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
}

.alert-warning {
    background-color: yellow;
    color: black;
    border-color: yellow;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
}

.alert-danger {
    background-color: red;
    color: black;
    border-color: red;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
}

.alert-info {
    background-color: teal;
    color: black;
    border-color: teal;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
}

nav li a:hover {
    background-color: #111111;
    color: white;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: #111111;
}  

.navbar {
    padding: 0;
}

.navbar .navbar-nav .nav-link {
    padding: 16px 12px;
}

/* Segoe UI Font Family Stack from https://www.cssfontstack.com/Segoe-UI */

input {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

.form-control[readonly] {
    background-color: #c0c0c0;
}

input[type=submit] {
    background-color: silver;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    color: #1e1e1e;
    border-color:#111111;
}

input[type=submit]:hover {
    background-color: dimgray;
    color: silver;
    -webkit-transition: color .45s ease;
    transition: color .45s ease;
    -webkit-transition: background-color .45s ease;
    transition: background-color .45s ease;
    border-color:#a3a3a3;
}

input[type=button] {
    background-color: silver;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    color: #1e1e1e;
    border-color:#111111;
}

input[type=button]:hover {
    background-color: dimgray;
    color: silver;
    -webkit-transition: color .45s ease;
    transition: color .45s ease;
    -webkit-transition: background-color .45s ease;
    transition: background-color .45s ease;
    border-color:#a3a3a3;
}

.table td {
    background-color: #b46464;
    border: 2px solid black;
}

.table th {
    background-color: #2e2e2e;
    color: white;
    border: 2px solid black;
}

.table {
    border: 2px solid black;
}

a.list-group-item {
    background-color: #b46464;
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding: 10px 0 10px 0;
}

body {
    background-color: #7c3e3e;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    margin: 0;
    color: white;
}

h1:hover{
    animation: rainbow 3.5s linear;
    animation-iteration-count: infinite;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black; 
}

h1 {
    padding-top: 10px;
    display: inline-block;
}

/*
Credit for rainbow animation:
https://codepen.io/zak/pen/rWJzPy
*/
@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,135,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}